# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
*.lds

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
!da14531.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.img
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Keil Project
*.uvguix.*
unused_531.txt
*.scvd
*JLinkLog.txt
*JLINKSettings.ini

*.DS_Store
xcuserdata/


6.420.3.33/utilities/secondary_bootloader/out_DA14531/*

# Pycharm & Python
*.idea
*.pyc
__pycache__/*

 # IntelliJ - https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
*.idea/workspace.xml
*.idea/usage.statistics.xml
*.idea/shelf

*.egg
*.egg-info
**/dist

**/jlink.log
**/.settings/
**/.idea/
